{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('Coordonnees.validUpdate') }}">
            <input type="hidden" name="_method" value="PUT">
            <legend>Modifier les coordonnees</legend>
            <div class="form-group">
                <label>Nom Client :</label>
                <input name="nomClient"  type="text"  size="18" value="{{coordonnees.getUsername()|default('')}}" class="form-control {% if erreurs.nomClient is defined %}is-invalid{% endif %}" >
                {% if erreurs.nomClient is defined %}
                    <div class="invalid-feedback">{{erreurs.nomClient}}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Email :</label>
                <input name="email" type="text" value="{{ coordonnees.getEmail()|default('')}}" class="form-control {% if erreurs.email is defined  %}is-invalid{% endif %}"/>
                {% if erreurs.email is defined %}
                    <div class="invalid-feedback">{{erreurs.email}}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Adresse :</label>
                <input name="adresse"  type="text"  size="18"  value="{{coordonnees.getAdresse()|default('')}}" class="form-control {% if erreurs.adresse is defined %}is-invalid{% endif %}">
                {% if erreurs.adresse is defined %}
                    <div class="invalid-feedback">{{erreurs.adresse}}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Code Postal :</label>
                <input name="codePostal" type="text"  size="18"  value="{{coordonnees.getCodePostal()|default('')}}" class="form-control {% if erreurs.codePostal is defined %}is-invalid{% endif %}">
                {% if erreurs.codePostal is defined %}
                    <div class="invalid-feedback">{{erreurs.codePostal}}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Ville :</label>
                <input name="ville" type="text"  size="18"  value="{{coordonnees.getVille()|default('')}}" class="form-control {% if erreurs.ville is defined %}is-invalid{% endif %}">
                {% if erreurs.ville is defined %}
                    <div class="invalid-feedback">{{erreurs.ville}}</div>
                {% endif %}
            </div>
            <input type="hidden" name="token" value="{{  csrf_token('form_valid') }}">
            <button type="submit" class="btn btn-primary">modifier</button>
        </form>
    </div>
{% endblock %}